*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:century;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(image.surf.jpg);
    height:100vh;
    background-size:cover;
    background-position:center;
    }
.logo a{
  margin-top: 15px;
  color:#fff;
  padding: 0px 20px;
  border: 1px solid #fff;
  position:absolute;
  top:10px;
  left:50px;
  text-transform:uppercase;
  text-decoration: none;
  font-weight:900;
  text-shadow:rgba(0, 0, 0, 0.7);
}
.logo span{
    color:aqua;
    font-weight:bold;
    font-size:2rem;
}
ul{
    list-style:none;
    float:right;
    display:flex;
    margin-top:20px;
}
ul li a{
    text-decoration:none;
    color:#fff;
    padding: 10px 20px;
    text-transform:uppercase;
    border: 1px solid transparent;
    margin:10px;
    margin-left: 20px;
    margin-right: 20px;
    font-weight:500;
    transition: 0.6 ease;
}
ul li a:hover{
    background:#fff;
    color:#000;
}
ul li.active a{
    background:#fff;
    color:#000;
}
.pincipale{
    max-width:114rem;
    margin: 0 auto;
}
.titre{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.rectangle h1{
    color:#fff;
    font-size:37px;
} 
.rectangle{
position: absolute;
width: 145px;
height:566px;
left: 300px;
background:#fff;
mix-blend-mode: difference;
border: 2px solid #0000;
border-radius: 10px;
}
.space{
    margin-top:120%;
    font-family:Bruno Ace SC;
    text-align: center;
    color: #0077b6;
}
.premier{
    font-family:Bruno Ace SC;
    text-align: center;
    margin-top:20px;
}
